form i {
    cursor: pointer;
}
.input {
    margin-bottom: 4% !important;
}
.form-control {
    width: 80%;
    margin: auto;
}
.formbody {
    padding: 3%;
    background-color: rgba(201, 199, 199, 0.645);
    border-radius: 20px;
    border: 2px solid black;
}
