<form class="formStyle needs-validation" method="post" (ngSubmit)="onSubmit()" novalidate>
    <!-- Header of the Page -->
    <h3 class="pageHeader">Create Your Account To Book Now!</h3>
    <br>
    <div class="form-control formbody">
        <!-- First name input -->
        <span class="input-group-text">First Name:</span>
        <div class="input-group mb-3 input">
            <input type="text" id="firstName" [(ngModel)] ="user.firstName" placeholder="John" class="form-control" name="firstName" min="2" required/>
            <!-- If valid info -->
            <div class="valid-tooltip">
                <i class="fa fa-check-square-o"></i> Good
            </div>
            <!-- If invalid info -->
            <div class="invalid-tooltip">
                <i class="fa fa-times-circle"></i> Please enter your first name
            </div>
        </div>

        <!-- Last Name input -->
        <span class="input-group-text">Last Name:</span>    
        <div class="input-group mb-3 input">
            <input type="text" id="lastName" [(ngModel)] ="user.lastName" placeholder="Appleseed"  class="form-control" name="lastName" min="1" required/>
            <!-- If valid info -->
            <div class="valid-tooltip">
                <i class="fa fa-check-square-o"></i> Good
            </div>
            <!-- If invalid info -->
            <div class="invalid-tooltip">
                <i class="fa fa-times-circle"></i> Please enter your last name
            </div>
        </div>

        <!-- Age input-->
        <span class="input-group-text">Age:</span>
        <div class="input-group mb-3 input">
            <input type="number" id="age" [(ngModel)] ="user.age" min="18" value="18" max="85" class="form-control" name="age" placeholder="18" required>
            <!-- If valid info -->
            <div class="valid-tooltip">
                <i class="fa fa-check-square-o"></i> Good
            </div>
            <!-- If invalid info -->
            <div class="invalid-tooltip">
                <i class="fa fa-times-circle"></i> Please enter your age
            </div>
        </div>

        <!-- Email input -->
        <span class="input-group-text">Primary Email:</span>
        <div class="input-group mb-3 input">
            <input type="email" id="emailId" [(ngModel)] ="user.emailId" class="form-control" name="email" placeholder="example@gmail.com" required>
            <!-- If valid info -->
            <div class="valid-tooltip">
                <i class="fa fa-check-square-o"></i> Good
            </div>
            <!-- If invalid info -->
            <div class="invalid-tooltip">
                <i class="fa fa-times-circle"></i> Please enter a valid email
            </div>
        </div>
        
        <!-- Password input -->
        <span class="input-group-text">Password:</span>
        <div class="input-group mb-3 input">
            <input type="password" id="password" [(ngModel)] ="user.password" class="form-control" name="password" placeholder="Must have at least 8 characters" required>
            <!-- If valid info -->
            <div class="valid-tooltip">
                <i class="fa fa-check-square-o"></i> Good
            </div>
            <!-- If invalid info -->
            <div class="invalid-tooltip">
                <i class="fa fa-times-circle"></i> Please create a password
            </div>
            <div class="input-group-append">
                <span class="input-group-text"><i class="bi bi-eye-slash" id="togglePassword"></i></span>
            </div>
        </div>

        <!-- Password Confirm input -->
        <span class="input-group-text">Confirm Password:</span>
        <div class="input-group mb-3 input">
            <input type="password" id="passwordConfirm" [(ngModel)] ="user.passwordConfirm" class="form-control" name="passwordConfirm" placeholder="Re-type password" required>
            <!-- If valid info -->
            <div class="valid-tooltip">
                <i class="fa fa-check-square-o"></i> Good
            </div>
            <!-- If invalid info -->
            <div class="invalid-tooltip">
                <i class="fa fa-times-circle"></i> Please re-type your password
            </div>
            <div class="input-group-append">
                <span class="input-group-text"><i class="bi bi-eye-slash" id="togglePass"></i></span>
            </div>
        </div>

        <!-- <input class="btn btn-outline-success" type="submit" value="Sign-up!"> -->
        <button class="btn btn-success" type="submit">Create Account</button>
    </div>
</form>
<br>