/* here down was for testing global styling out */
.aboutPage {
    width: 50%;
    margin:auto;
    margin-top: 5%;
}
.aboutPage p {
    width: 100%;
    margin: auto;
    font-size: 18px;
    color: blue;
}