  <!-- Head Elements -->
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0"/>
    <title>Pretty Hot I Guess</title>
    <link rel="stylesheet" type="text/css" href="/style.css"/>
  </head>

  <!-- Navbar -->
  <nav class="navbar navbar-light bg-info">
    <div class="container-fluid">
      <a class="navbar-brand">Home</a>
      <ul class="navbar-nav">
        <li class = "nav-item">
          <a routerLink="about" routerLinkActive="active" class="nav-link color">About me</a> 
        </li>
      </ul>
    </div>
  </nav>

  <!-- main container just hanging out rn i guess -->
  <div>
    <h5> I love Rats and Doors </h5>
    <router-outlet name="aboutrouter"></router-outlet>
  </div>

  <!-- Developer Credits Footer -->
  <footer class="footer">
  <div class = "container">
      <span>All Rights Reserved 2022 @John Hargenrader and Robert Wood</span>
  </div>
