<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-info">
  <div class="container-fluid">
    <a class="navbar-brand company">Johnny's Mom LLC</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="about" routerLinkActive="active" class="nav-link navItem">About</a> 
      </li>
      <li class="nav-item">
        <a routerLink="book" routerLinkActive="active" class="nav-link navItem">Book Dates</a> 
      </li>
      <li class="nav-item">
        <a routerLink="fart" routerLinkActive="active" class="nav-link navItem">Cry and Piss</a> 
      </li>
      <li class="nav-item">
        <a routerLink="fart" routerLinkActive="active" class="nav-link navItem">Yayyyyy</a> 
      </li>
      <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-success my-2 my-sm-0 navItem" type="submit">Login</button>
      </form>
    </ul>
  </div>
</nav>

<!-- router-outlet for basic testing -->
<!-- once ready we can set up named outlets to avoid any unwanted actions -->
<router-outlet></router-outlet>

<!-- Developer Credits Footer -->
<footer class="footer">
<div class = "container">
    <span>All Rights Reserved 2022 @John Hargenrader and Robert Wood</span>
</div>
