<nav class="navbar navbar-light bg-info">
  <p class="title">Property Project</p>
  <ul class = "navbar-nav">

    <li class = "nav-item">
      <a routerLink="about" routerLinkActive="active" class="nav-link color" >About me</a> 
    </li>
      <!-- <li class = "nav-item">
          <a routerLink="about" routerLinkActive="active" class="nav-link color" >About me</a>   
      </li>
      <li class = "nav-item">
          <a routerLink="resume" routerLinkActive="active" class="nav-link color" >Resume</a>   
      </li>
      <li class = "nav-item">
        <a routerLink="contact" routerLinkActive="active" class="nav-link color" >Contact me</a>   
    </li>
    <li class = "nav-item">
      <a routerLink="projects" routerLinkActive="active" class="nav-link color" >Projects/GitHub</a>   
  </li> -->
  </ul>
</nav> 


<div class = "container">
  <router-outlet></router-outlet>
</div>
<footer class = "footer">
  <div class = "container">
      <span>All Rights Reserved 2022 @John Hargenrader and Robert Wood</span>
  </div>
